[data-md-color-scheme="default"] {
    .md-typeset h1 {
        color: var(--md-default-fg-color);
    }

    /* --md-primary-fg-color: #d20150; */
    --md-primary-fg-color: #000000;
}


[data-md-color-scheme="slate"] {
    .md-typeset h1 {
        color: var(--md-default-fg-color);
    }

    --md-primary-fg-color: #6b13c3;
    --md-default-bg-color: #000000;
}